.vertical {
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  float: left;
}
svg {
  background-color: #28a745;
}
rect {
  fill: #007bff;
}
.gradientColors {
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* Standard syntax */
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  background: darkgray;
  outline: none;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}
/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  border: 1px solid darkgray;
  /* Green background */
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* Standard syntax */
  cursor: pointer;
  /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  border: 1px solid darkgray;
  /* Green background */
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* Standard syntax */
  cursor: pointer;
  /* Cursor on hover */
}
.middlePart {
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
  /* Standard syntax */
}
.sectionQuestions {
  background-image: url("/imgs/bgQuestion.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.answer1 {
  background-image: url("/imgs/leftAnswer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 3em;
}
.answer2 {
  background-image: url("/imgs/rightAnswer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.rangeNumbers p {
  width: 2em;
}
@media (max-width: 576px) {
  .fixed-sm-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
